article.tweet {
  display: flex;
  flex-direction: column;

  margin-top: 2em;
  padding: 15px;
  border: 4px solid #000000;
}

article.tweet:hover {
  transition-duration: 0.2s;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.59);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.59);
}

article.tweet header {
  /* border: 2px dotted black; */

  /* top | horizontal | bottom */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px 10px;
}

div.tweet-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#display-name {
  padding-left: 15px;
}

#handle-name {
  color:lightslategrey;
}

article.tweet div.tweet-content {
  /* border: 2px dotted blue; */
  /* vertical | horizontal */
  padding: 20px 20px;
  display: flex;
  align-items: flex-start;
  border-bottom: 4px solid black;
  word-break: break-all;
}

article.tweet footer {
  /* border: 2px dotted black; */
  /* top | horizontal | bottom */
  padding: 10px 5px 10px;

  font-size: 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div.icons {
  color: #4056A1;
}

#i-flag:hover, #i-retweet:hover, #i-heart:hover {
  transition-duration: 0.3s;
  color: goldenrod;
}