header {
  /* border: 2px dotted black; */
  display: flex;
  justify-content: center;

  height: 520px;
  width: 100%;

  background-color: #B4E5FF;
  background-image: url("../images/bright-squares.png");
}

.profile {
  /* border: 2px dotted black; */
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: center;
}

.profile-avatar {
  /* border: 2px dotted black; */
}
.profile-name {
  /* border: 2px dotted black; */
}