header.profile {
  /* border: 2px dotted black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

  height: 400px;

  background-color: #B4E5FF;
  background-image: url("../images/bright-squares.png");
}

#profile-avatar {
  /* border: 2px dotted black; */
}

#profile-name {
  /* border: 2px dotted black; */
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
}