.new-tweet {
  /* border: 2px dotted black; */
  width: 100%;
}

#tweet-text {
  width: 100%;
  height: 2.5em;
  margin-top: 1em;

  border: none;
  border-bottom: 4px solid #000000;
  outline: none;

  background: none;
  font-weight: bold;
}



.tweet-footer {
  /* border: 2px dotted black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 0.8em;
  
  border-radius: 10px;
  text-shadow: 3px 2px 1px #9daef5;
  box-shadow: 6px 5px 24px #666666;
  padding: 10px;
}

.tweet-button:hover {
  background: #B4E5FF;
}