#error-message {
  border: 4px solid #c51244 ;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #c51244;
  background: #ffe0e8; 
  font-weight: bolder;
  padding: 5px;
}

/* left for styling testing */
.new-tweet {
  /* border: 2px dotted black; */
}

#tweet-text {
  width: 100%;
  height: 2.5em;
  margin-top: 2em;
  border: none;
  border-bottom: 4px solid #000000;
  background: none;
  font-weight: bold;
}

.new-tweet-footer {
  /* border: 2px dotted black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 0.8em;

  transition-duration: 0.4s;
  border-radius: 10px;
  text-shadow: 3px 2px 1px #9daef5;
  box-shadow: 6px 5px 24px #666666;
  padding: 10px;
}

.tweet-button:hover {
  background: #B4E5FF;
}

.over-limit {
  color:red;
}